body {
    margin: 0px;
    position: relative;
    font-family: 'Vidaloka', serif;
}

.background {
    width: 100%;
    height: 100vh;
}

.main-content {
    position: relative;
}
/* Header containing all the links to different parts of the page */
.header {
    width: 100%;
    height: 11vh;
    background-color: rgba(0, 0, 0, 0.712);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 10;
}

.header a {
    color: #fff;
    font-size: .9em;
    margin: 1.5rem;
    text-decoration: none;
}

.header a:hover {
    transform: scale(1.10);
    cursor: pointer;
    border-bottom: 1px solid rgb(8, 8, 8);
    line-height: 2rem;
    transition: .2s;
    /* color: rgb(94, 160, 245); */
}

.header a:focus {
    transform: scale(1);
}
/* Circle that has my name, web developer, and social media icons */
.name {
    width: 25rem;
    height: 25rem;
    position: absolute;
    top: 25vh;
    left: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.me {
    width: 100%;
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    letter-spacing: 2px;
    border-bottom: 2px solid #fff;
    padding-bottom: 2rem;
    text-align: left;
}

.web-dev {
    width: 100%;
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: left;
    margin: 2rem 0rem;
    

}

.flex-icons {
    width: 100%;
}

.flex-icons a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
}

.flex-icons a:hover {
    transform: scale(3);
    cursor: pointer;
}

.git-hub {
    margin-left: 4.8rem;
}

#black:hover {
    border-radius: 5px;
    background-color: rgba(189, 183, 183, 0.733);
}

/* Contains why I do what I do. Contains a paragraph display */
#about {
    width: 100%;
    height: 100vh;
    background-color: rgba(189, 183, 183, 0.733);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.who-am-i {
    width: 20rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}


.who-am-i line {
    width: 10%;
    height: 4px;
    border-radius: 4px;
    background-color: #76a9af;
    position: absolute;
}

.who-am-i h1 {
    font-weight: 900;
    font-size: 3rem;
}

.who-am-i-content {
    width: 40rem;
    height: 15rem;
    background-color: rgb(245, 245, 245);
    border-radius: 2px;
    border: 3px solid rgba(0, 0, 0, 0.459);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.459);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.who-am-i-content p {
    line-height: 30%;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.25rem;
    font-weight: 100;
    line-height: 1.25em;
}

/* Contains skill title and some images of my skills */
#skills {
    width: 100%;
    height: 100vh;
    background-color: rgb(245, 245, 245);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.skills-title line {
    width: 10%;
    height: 4px;
    border-radius: 4px;
    background-color: #76a9af;
    position: absolute;
}

.skills-title h1 {
    font-weight: 900;
    font-size: 3rem;
}

.skills-title {
    width: 20rem;
    height: 8rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-content {
    width: 45rem;
    height: 36rem;
    border: 3px solid rgba(0, 0, 0, 0.459);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.459);
    background-color: rgba(189, 183, 183, 0.733);
    z-index: 3;
    display: grid;
    grid-template-columns: 15rem 15rem 15rem;
    grid-template-rows: 12rem 12rem 12rem;
    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.skill-item {
    border: 1px solid rgb(145, 145, 145);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.skill-item div {
    position: absolute;
    bottom: 4px;
    font-weight: 700;
}

.skills-content .glow-wrap{
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    margin-top: -10px;
}

.skills-content .glow {
  display: block;
  position:absolute;
  width: 40%;
  height: 200%;
  background: rgba(255,255,255,.2);
  top: 0;
  filter: blur(5px);
  transform: rotate(45deg) translate(-450%, 0);
  transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.skills-content:hover .glow{
    transform: rotate(45deg) translate(450%, 0);
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

/* project title and group and personal project */
#projects {
    width: 100%;
    height: 110vh;
    background-color: rgba(189, 183, 183, 0.733);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.my-projects-title {
    width: 20rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2
}

.my-projects-title line {
    width: 10%;
    height: 4px;
    border-radius: 4px;
    background-color: #76a9af;
    position: absolute;
}

.my-projects-title h1 {
    font-weight: 900;
    font-size: 3rem;
}

.project-content {
    width: 54rem;
    height: 33rem;
    background-color: rgb(245, 245, 245);
    border-radius: 2px;
    border: 3px solid rgba(0, 0, 0, 0.459);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.459);
    z-index: 3;
    display: flex;
}

.project-left {
    width: 27rem;
    height: 33rem;
    border-right: 4px solid rgba(0, 0, 0, 0.459);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-left button {
    background-color: #ff715b; 
    border-radius: 5px;
    margin-top: .6rem;
    border: none;
    border: 2px solid rgb(0, 0, 0);
}

.project-left button:hover {
    cursor: pointer;
}

.project-left h3 {
    border-bottom: 2px solid black;
}

.project-desc {
    padding: 1rem;
    text-indent: .8rem;
    font-size: .9rem;
}

.project-github {
    font-size: .8rem;
}

.group-car {
    background-image: url('./images/tebdub-home.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 230px;
}

.group-car:hover {
    animation: slider 15s infinite;
}

@keyframes slider {
    0% { background-image: url('./images/tegdub1.png')}
    40% { background-image: url('./images/tegdub2.png')}
    60% { background-image: url('./images/tegdub3.png')}
}

.project-right {
    width: 27rem;
    height: 33rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-right button:hover {
    cursor: pointer;
}

.project-right button {
    background-color: #ff715b; 
    border-radius: 5px;
    margin-top: .6rem;
    border: none;
    border: 2px solid rgb(0, 0, 0);
}

.project-right h3 {
    border-bottom: 2px solid black;
}

.personal-car {
    background-image: url('./images/shiftradr-home.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 230px;
}

.personal-car:hover {
    animation: slider2 20s infinite;
}

@keyframes slider2 {
    0% { background-image: url('./images/shiftradr1.png')}
    40% { background-image: url('./images/shiftradr2.png')}
    66% { background-image: url('./images/shiftradr3.png')}
}


/* contains contact title and my contact information */
#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
}


.contact-title {
    width: 25rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2
}

.contact-title line {
    width: 10%;
    height: 4px;
    border-radius: 4px;
    background-color: #76a9af;
    position: absolute;
}

.contact-title h1 {
    font-weight: 900;
    font-size: 3rem;
}

.contact-content {
    width: 50rem;
    height: 15rem;
    border: 3px solid rgba(0, 0, 0, 0.459);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.459);
    background-color: rgba(189, 183, 183, 0.733);
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.contact-content div {
    margin: .5rem;
    margin-left: 10rem;
}

.contact-content a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

